@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body{ 
    background: url("Counseling_Website/Image/background.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

*{
    
    font-family: 'Poppins', sans-serif;
}
/* .navbar{
    background-color: #fff;
    height: 110px;
    margin: auto;
    display: flex;
}
.icon{
    width: auto;
    float: left;
    height: 100px;
    margin-top: 5px;
    padding-left: 10px;

}
.icon img{
    width: auto;
    height: 150px;
} */
.menu{
    width: 100px;
    float: left;
    height: 50px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 10px;
    display: flex;
}
/* 
ul{
    width: 50%;
    display: flex;
}

ul li{
    list-style-type: none;
    margin-left: 10px;
    margin-top: 40px;
    font-size: 15px;
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #2a6e36;
    font-family: sans-serif;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    padding: 6px;
    font-size: 20px;
   
}

ul li a:hover{
    background: #2a6e36;
    color: #fff;
} */

/* section .imgbx::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient((rgb(31, 29, 29)rgb(88, 86, 86)));
    z-index: 1;
    mix-blend-mode: screen;
}
section .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
section .contentbx{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    color: #0dcaf0;
}
section .contentbx .formbx{
    width: 100%;
}
section .contentbx .formbx h2{
    color: #fff;
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 10px;
    border-bottom: 2px solid #5bee76;
    text-align: center;
    align-items: center;
    letter-spacing: 1px;
}
section .contentbx .formbx .inputbx{
    margin-bottom: 20px;
}
section .contentbx .formbx .inputbx span{
    font-size: 15px;
    margin-bottom: 5px;
    display: inline-block;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
}
section .contentbx .formbx .inputbx input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #fff;
    font-size: 15px;
    letter-spacing: 1px;
    color: #fafafa;
    background: transparent;
    border-radius: 20px;
}
section .contentbx .formbx .inputbx input[type="submit"]{
    width: 100px;
    margin-top: 10px;
    background: #62ced6;
    color: #fff;
    outline: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}
section .contentbx .formbx .inputbx input[type="submit"]:hover{
    background: #367377;
    color: #fff;
}
section .contentbx .formbx .inputbx .remember{
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: 200px;
    font-size: 14px;
}
section .contentbx .formbx .inputbx p{
    color: #fafafa;
}
section .contentbx .formbx .inputbx p a{
    transition: 0.3s ease;
    font-weight: bold;
}
section .contentbx .formbx .inputbx p a:hover{
    color: #1e522f;
}
section .contentbx .formbx h3{
    color: #607d8b;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}
section .contentbx .formbx .soc{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    margin-left: 150px;
}
section .contentbx .formbx .soc a{
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2a6e36;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
    color: #fff;
    transition: all 0.3 ease;
}
section .contentbx .formbx .soc a:hover{
    background: #607d8b;
    color: #fff;
}
section .contentbx .formbx .soc a img{
    transform: scale(1.5);
}
@media (max-width: 1640px){
    .menu{
        display: flex;
        justify-content: center;
        padding-left: 120px;
        position: absolute;
        width: 50%;
        z-index: 1;
    }
    .menu ul{
        width: 50%;
        height: 10px;
        position: absolute;
    }
    section .imgbx{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    section .contentbx{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    section .contentbx .formbx{
        width: 50%;
        padding: 40px;
        background: linear-gradient(rgba(122, 120, 120, 0.5), rgba(165, 163, 163, 0.8));
        margin: 50px;
        color: #fff;

    }
    section .contentbx .formbx h3{
        color: #fff;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }
}
/* .footer{
    color: #ffffff;
    background: #16461f;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}
.container{
    max-width: 1470px;
    margin: auto;
    height: 180px;
    padding-top: 10px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col a{
    list-style:inside;
}

.footer-col{
    width: 20%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 20px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: bold;
    position: relative;
    font-weight: 500;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background: #ffffff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col a{
    font-size: 15px;
    text-transform:capitalize;
    color: #ffffff;
    text-decoration: none;
    display:table;
    font-weight: 300;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
    padding-top: 5px;
    padding-right: 5px;
}

.footer-col a:hover{
    color: #16461f;
    background-color: #ffffff;
    padding-left: 5px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 30px;
    width: 30px;
    background: #2c6681;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 5px;
    border-radius: 50%;
    color: #ffffff;
    transition: 0.5s ease;
    padding: 5px;
    padding-top: 8px;
}

.footer-col .social-links a:hover{
    color: #2c6681;
    background-color: #ffffff;
}
.footer-bottom{
    background: #2c6681;
    height: 25px;
    width: 100%;
    text-align: center;
    position: absolute;
    padding-top: 5px;
} */