@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{ 
    background: url("../Image/back1.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

*{
    
    font-family: 'Poppins', sans-serif;
}

/* body{
   
=======
.main{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),url("Image/counseling.jpg");

    background-position: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
} */
/* .navbar{
    background-color: #fff;
    height: 110px;
    margin: auto;
    display: flex;
}
.icon{
    width: auto;
    float: left;
    height: 100px;
    margin-top: 5px;
    padding-left: 10px;

}
.icon img{
    width: auto;
    height: 150px;
} */
.menu{
    width: 100px;
    float: left;
    height: 50px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 10px;
    display: flex;
}
/* 
ul{
    float: left;
    display: flex;
}
ul li{
    list-style-type: none;
    margin-left: 10px;
    margin-top: 40px;
    font-size: 15px;
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #2a6e36;
    font-family: sans-serif;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    padding: 6px;
    font-size: 20px;
   
}
ul li a:hover{
    background: #2a6e36;
    color: #fff;
} */
.menu .btn{
    padding: 10px;
    margin-left: auto;
    margin-right: -1250px;
    border: 0;
    width: auto;
    font-weight: bold;
    cursor: pointer;
}
.btn .btn1,
.btn2{
    background: #2a6e36;
    border: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    transition: .2s ease-in-out;
}
.btn .btn1 a,
.btn2 a{
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    padding: 10px;
    font-size: 20px;
}
.btn .btn1:hover,
.btn2:hover{
    background: #16461f;
    color: #fff;
}
.content{
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    color: #ffffff;
}
.content .title{
    text-align: center;
    font-size: 30px;
}
.content span{
    color: #6ae781;
}
.content p{
    text-align: center;
    text-decoration: none;
}
.content .cn{
    width: 130px;
    height: 60px;
    background: #2a6e36;
    margin-left: 700px;
    margin-top: 30px;
    align-items: center;
    padding-top: 5px;
    padding-left: 2px;
    outline: none;
    border: none;
    display: flex;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.content .cn a{
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    font-size: 15px;
    transition: 0.3s ease-in-out;
    font-size: 20px;
    padding-left: 5px;
    display: flex;
}
.content .cn:hover{
    background: #16461f;
    color: #fff;
}
/* .footer{
    color: #ffffff;
    background: #16461f;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}
.container{
    max-width: 1470px;
    margin: auto;
    height: 180px;
    padding-top: 10px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col a{
    list-style:inside;
}

.footer-col{
    width: 20%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 20px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: bold;
    position: relative;
    font-weight: 500;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background: #ffffff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col a{
    font-size: 15px;
    text-transform:capitalize;
    color: #ffffff;
    text-decoration: none;
    display:table;
    font-weight: 300;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
    padding-top: 5px;
    padding-right: 5px;
}

.footer-col a:hover{
    color: #16461f;
    background-color: #ffffff;
    padding-left: 5px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 30px;
    width: 30px;
    background: #2c6681;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 5px;
    border-radius: 50%;
    color: #ffffff;
    transition: 0.5s ease;
    padding: 5px;
    padding-top: 8px;
}

.footer-col .social-links a:hover{
    color: #2c6681;
    background-color: #ffffff;
}
.footer-bottom{
    background: #2c6681;
    height: 25px;
    width: 100%;
    text-align: center;
    position: absolute;
    padding-top: 5px;
}
@media (max-width: 1000px){
    .menu{
        display: flex;
        justify-content: center;
        padding-left: 120px;
        position: absolute;
        width: 50%;
        z-index: 1;
        }
    .menu ul{
        width: 50%;
        height: 10px;
        position: absolute;
    }
    .menu .btn{
        width: 110%;
        height: 10px;
        position: absolute;
    }
    .content .cn{
        width: 10%;
        margin-left: 250px;
        height: 80%;
        align-items: center;
    }
    .content .cn a{
        font-size: 10px;
        text-align: center;
    }
    .image-articles{
        width: 70%;
        height: auto;
        display: inline-block;
    }
    .footer{
        height: 100%;
    }
    .footer-col{
        font-size: 30%;
    }
    .footer-col h4{
        width: 50%;
        height: auto;
    }
  }

  /* blog css here below this comment */
  #first_article{
      background-color: #ffffff ;
      box-shadow: 0 0 10px #797979;

  }
/*   
 -----------------------------LOGIN FORM CSS---------------------------------
 
    */

    section .contentbx{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
    }
    section .contentbx .formbx{
        width: 50%;
    }
    section .contentbx .formbx h2{
        color: #fff;
        font-weight: 100;
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 10px;
        border-bottom: 2px solid #5bee76;
        text-align: center;
        align-items: center;
        letter-spacing: 1px;
    }
    section .contentbx .formbx .inputbx{
        margin-bottom: 20px;
    }
    section .contentbx .formbx .inputbx span{
        font-size: 15px;
        margin-bottom: 5px;
        display: inline-block;
        color: #fff;
        font-weight: 300;
        letter-spacing: 1px;
    }
    section .contentbx .formbx .inputbx input{
        width: 100%;
        padding: 10px 20px;
        outline: none;
        font-weight: 400;
        border: 1px solid #fff;
        font-size: 15px;
        letter-spacing: 1px;
        color: #fafafa;
        background: transparent;
        border-radius: 20px;
    }
    section .contentbx .formbx .inputbx input[type="submit"]{
        width: 100px;
        margin-top: 10px;
        background: #62ced6;
        color: #fff;
        outline: none;
        border: none;
        font-size: 15px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    section .contentbx .formbx .inputbx input[type="submit"]:hover{
        background: #367377;
        color: #fff;
    }
    section .contentbx .formbx .inputbx .remember{
        margin-bottom: 10px;
        color: #ffffff;
        font-weight: 200px;
        font-size: 14px;
    }
    section .contentbx .formbx .inputbx p{
        color: #fafafa;
    }
    section .contentbx .formbx .inputbx p a{
        color: #0defff;
        transition: 0.3s ease;
    }
    section .contentbx .formbx .inputbx p a:hover{
        color: #00ff55;
    }
    section .contentbx .formbx h3{
        color: #607d8b;
        text-align: center;
        margin: 80px 0 10px;
        font-weight: 500;
    }
    section .contentbx .formbx .soc{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        margin-left: 150px;
    }
    section .contentbx .formbx .soc a{
        list-style: none;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #2a6e36;
        border-radius: 50%;
        margin: 0 7px;
        cursor: pointer;
        color: #fff;
        transition: all 0.3 ease;
    }
    section .contentbx .formbx .soc a:hover{
        background: #607d8b;
        color: #fff;
    }
    section .contentbx .formbx .soc a img{
        transform: scale(1.5);
    }
    @media (max-width: 1640px){
        .menu{
            display: flex;
            justify-content: center;
            padding-left: 120px;
            position: absolute;
            width: 50%;
            z-index: 1;
        }
        .menu ul{
            width: 50%;
            height: 10px;
            position: absolute;
        }
        section .imgbx{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        section .contentbx{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        section .contentbx .formbx{
            width: 50%;
            padding: 40px;
            background: linear-gradient(rgba(122, 120, 120, 0.5), rgba(165, 163, 163, 0.8));
            margin: 50px;
            color: #fff;
    
        }
        section .contentbx .formbx h3{
            color: #fff;
            text-align: center;
            margin: 30px 0 10px;
            font-weight: 500;
        }
    }