@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body{ 
    background: url("../Image/back.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }



*{ 
    font-family: 'Poppins', sans-serif;
}
/* .navbar{
    display: flex;
    background-color: #fff;
    height: 110px;
    margin: auto;
}

.icon{
    width: auto;
    float: left;
    height: 100px;
    margin-top: 5px;
    padding-left: 10px;

}
.icon img{
    width: auto;
    height: 150px;
} */

.menu{
    width: 100px;
    float: left;
    height: 50px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 10px;
    display: flex;
}
/* 
ul{
    width: 50%;
    display: flex;
}
ul li{
    list-style-type: none;
    margin-left: 10px;
    margin-top: 40px;
    font-size: 15px;
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #2a6e36;
    font-family: sans-serif;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    padding: 6px;
    font-size: 20px;
   
}

ul li a:hover{
    background: #2a6e36;
    color: #fff;
} */
.container{
    text-align: center;
    background: transparent;
}
.header{
    padding-top: 50px;
    color: #6ae781;
    font-size: 40px;
    margin: auto;
    line-height: 50px;
}
.sub-container {
    max-width: 1500px;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.teams{
    margin: 20px;
    padding: 22px;
    max-width: 20%;
    cursor: pointer;
    transition: 0.4s ease;
    box-sizing: border-box;
    background: linear-gradient(#29dfdf, #469e5c);
    border-radius: 20px;
    color: #fff;
}
.teams:hover{
    background: linear-gradient(#5fe2c6, #20a89d);
    border-radius: 10px;
    transform: scale(1.1);
}
.teams img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.name{
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.posi{
    font-style: italic;
    color: #fff;
}
.about{
    margin: 20px 0;
    font-weight: lighter;
    color: #ffffff;
}
.social-links{
    margin: 14px;
}
.social-links a{
    display: inline-block;
    height: 50px;
    width: 50px;
    transition: .4s;
}
.social-links a:hover{
    transform: scale(1.5);
}
.social-links a i{
    color:rgb(255, 255, 255);
}
/* .footer{
    color: #ffffff;
    background: #16461f;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    
}
.container1{
    max-width: 1470px;
    margin: auto;
    margin-top: 100px;
    height: 200px;
    padding-top: 30px;
    flex-wrap: wrap;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col a{
    list-style:inside;
}

.footer-col{
    width: 20%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 20px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: bold;
    position: relative;
    font-weight: 500;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background: #ffffff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col a{
    font-size: 15px;
    text-transform:capitalize;
    color: #ffffff;
    text-decoration: none;
    display:table;
    font-weight: 300;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
    padding-top: 5px;
    padding-right: 5px;
}

.footer-col a:hover{
    color: #16461f;
    background-color: #ffffff;
    padding-left: 5px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 30px;
    width: 30px;
    background: #2c6681;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 5px;
    border-radius: 50%;
    color: #fff;
    transition: 0.5s ease;
    padding: 5px;
    padding-top: 8px;
}

.footer-col .social-links a:hover{
    color: #2c6681;
    background-color: #ffffff;
}
.footer-bottom{
    background: #2c6681;
    height: 25px;
    width: 100%;
    text-align: center;
    position: absolute;
    padding-top: 5px;
}
@media screen and (max-width: 1000px){
    .navbar{
        width: 100%;
    }
    .teams{
        max-width: 70%;
    }
    .teams img{
        width: 20%;
    }
    .footer{
        max-width: 100%;
    }
    .container1{
        width: 100%;
        height: 100%;
    }
} */